.App {
  text-align: left;
}
.jumbotron{
  background: rgb(77,14,9) !important;
  background: linear-gradient(28deg, rgba(77,14,9,1) 0%, rgba(194,40,29,1) 46%, rgba(244,67,54,1) 100%) !important;
  color: white !important;
  border-radius: 0px !important;
}
.movy-filter-section{
  width: 90%;
}
.movy-list-container{
  width: 90%;
  padding: auto;
  margin-top: 28px !important;
}
.movy-item{
  border-radius: 8px;
  box-shadow: -1px 3px 6px #000000C9;
  margin: auto;
  width: 98% !important;
  padding: 4px;
  padding-top: 20px;
  height: 150px;
  margin-bottom: 12px;
}
.movy-item .movy-title-icon{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  background-color: #f44336;
  color: white;
  text-align: center;
}
.movy-item .movy-title{
  font-weight: bold;
  font-size: 16px;  
  margin-left: 8px;
  display: inline-block;
  height: 24px;
}
.movy-item .movy-category{
  display: inline-block;
  height: 24px;
  margin-left: 8px;
}
.fa{
  cursor: pointer;
}
.fa:hover{
  color: #f44336;
}
.delete-button{
  float: right;
}
.text-align-center{
  text-align: center !important;
}